In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
d = pd.read_csv('pancreas.csv')
d

,sample_id,patient_cohort,sample_origin,age,sex,stage,benign_sample_diagnosis,plasma_CA19_9,creatinine,LYVE1,REG1B,TFF1,REG1A,diagnosis
0,S1,Cohort1,BPTB,33,F,NaN,NaN,11.7,1.83222,0.893219,52.948840,654.282174,1262.000,1
1,S10,Cohort1,BPTB,81,F,NaN,NaN,NaN,0.97266,2.037585,94.467030,209.488250,228.407,1
2,S100,Cohort2,BPTB,51,M,NaN,NaN,7.0,0.78039,0.145589,102.366000,461.141000,NaN,1
3,S101,Cohort2,BPTB,61,M,NaN,NaN,8.0,0.70122,0.002805,60.579000,142.950000,NaN,1
4,S102,Cohort2,BPTB,62,M,NaN,NaN,9.0,0.21489,0.000860,65.540000,41.088000,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585,S549,Cohort2,BPTB,68,M,IV,NaN,NaN,0.52026,7.058209,156.241000,525.178000,NaN,3
586,S558,Cohort2,BPTB,71,F,IV,NaN,NaN,0.85956,8.341207,16.915000,245.947000,NaN,3
587,S560,Cohort2,BPTB,63,M,IV,NaN,NaN,1.36851,7.674707,289.701000,537.286000,NaN,3
588,S583,Cohort2,BPTB,75,F,IV,NaN,NaN,1.33458,8.206777,205.930000,722.523000,NaN,3
589,S590,Cohort1,BPTB,74,M,IV,NaN,1488.0,1.50423,8.200958,411.938275,2021.321078,13200.000,3

In [3]:
d.replace('BPTB',1,inplace=True)
d.replace('ESP',2,inplace=True)
d.replace('LIV',3,inplace=True)
d.replace('UCL',4,inplace=True)

d.replace('M',1,inplace=True)#MALE=1
d.replace('F',0,inplace=True)#FEMALE=2
d

,sample_id,patient_cohort,sample_origin,age,sex,stage,benign_sample_diagnosis,plasma_CA19_9,creatinine,LYVE1,REG1B,TFF1,REG1A,diagnosis
0,S1,Cohort1,1,33,0,NaN,NaN,11.7,1.83222,0.893219,52.948840,654.282174,1262.000,1
1,S10,Cohort1,1,81,0,NaN,NaN,NaN,0.97266,2.037585,94.467030,209.488250,228.407,1
2,S100,Cohort2,1,51,1,NaN,NaN,7.0,0.78039,0.145589,102.366000,461.141000,NaN,1
3,S101,Cohort2,1,61,1,NaN,NaN,8.0,0.70122,0.002805,60.579000,142.950000,NaN,1
4,S102,Cohort2,1,62,1,NaN,NaN,9.0,0.21489,0.000860,65.540000,41.088000,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585,S549,Cohort2,1,68,1,IV,NaN,NaN,0.52026,7.058209,156.241000,525.178000,NaN,3
586,S558,Cohort2,1,71,0,IV,NaN,NaN,0.85956,8.341207,16.915000,245.947000,NaN,3
587,S560,Cohort2,1,63,1,IV,NaN,NaN,1.36851,7.674707,289.701000,537.286000,NaN,3
588,S583,Cohort2,1,75,0,IV,NaN,NaN,1.33458,8.206777,205.930000,722.523000,NaN,3
589,S590,Cohort1,1,74,1,IV,NaN,1488.0,1.50423,8.200958,411.938275,2021.321078,13200.000,3

In [4]:
d.isna().any()

sample_id                  False
patient_cohort             False
sample_origin              False
age                        False
sex                        False
stage                       True
benign_sample_diagnosis     True
plasma_CA19_9               True
creatinine                 False
LYVE1                      False
REG1B                      False
TFF1                       False
REG1A                       True
diagnosis                  False
dtype: bool

In [5]:
#IA, IB, II, IIA, IIB, III, IV-cancer types
d['stage'].replace(np.nan,0,inplace=True)
d.replace('I',1,inplace=True)
d.replace('IA',2,inplace=True)
d.replace('IB',3,inplace=True)
d.replace('II',4,inplace=True)
d.replace('IIA',5,inplace=True)
d.replace('IIB',6,inplace=True)
d.replace('III',7,inplace=True)
d.replace('IV',8,inplace=True)

In [6]:
plasma_mean=d['plasma_CA19_9'].mean()
reg1_mean=d['REG1A'].mean()

d['plasma_CA19_9'].replace(np.nan,plasma_mean,inplace=True)
d['REG1A'].replace(np.nan,reg1_mean,inplace=True)
d

,sample_id,patient_cohort,sample_origin,age,sex,stage,benign_sample_diagnosis,plasma_CA19_9,creatinine,LYVE1,REG1B,TFF1,REG1A,diagnosis
0,S1,Cohort1,1,33,0,0,NaN,11.700000,1.83222,0.893219,52.948840,654.282174,1262.000000,1
1,S10,Cohort1,1,81,0,0,NaN,654.002944,0.97266,2.037585,94.467030,209.488250,228.407000,1
2,S100,Cohort2,1,51,1,0,NaN,7.000000,0.78039,0.145589,102.366000,461.141000,735.281222,1
3,S101,Cohort2,1,61,1,0,NaN,8.000000,0.70122,0.002805,60.579000,142.950000,735.281222,1
4,S102,Cohort2,1,62,1,0,NaN,9.000000,0.21489,0.000860,65.540000,41.088000,735.281222,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585,S549,Cohort2,1,68,1,8,NaN,654.002944,0.52026,7.058209,156.241000,525.178000,735.281222,3
586,S558,Cohort2,1,71,0,8,NaN,654.002944,0.85956,8.341207,16.915000,245.947000,735.281222,3
587,S560,Cohort2,1,63,1,8,NaN,654.002944,1.36851,7.674707,289.701000,537.286000,735.281222,3
588,S583,Cohort2,1,75,0,8,NaN,654.002944,1.33458,8.206777,205.930000,722.523000,735.281222,3
589,S590,Cohort1,1,74,1,8,NaN,1488.000000,1.50423,8.200958,411.938275,2021.321078,13200.000000,3

In [7]:
d.isnull().any()

sample_id                  False
patient_cohort             False
sample_origin              False
age                        False
sex                        False
stage                      False
benign_sample_diagnosis     True
plasma_CA19_9              False
creatinine                 False
LYVE1                      False
REG1B                      False
TFF1                       False
REG1A                      False
diagnosis                  False
dtype: bool

In [8]:
d=d.drop(['sample_id'],axis=1)
d=d.drop(['sample_origin'],axis=1)
d=d.drop(['patient_cohort'],axis=1)
d=d.drop(['benign_sample_diagnosis'],axis=1)
d.to_csv('pancreas_changed.csv')

PermissionError: [Errno 13] Permission denied: 'pancreas_changed.csv'

In [9]:
X = d.iloc[:, :-1].values
y = d.iloc[:, -1].values

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [11]:
X_train

array([[7.00000000e+01, 1.00000000e+00, 0.00000000e+00, ...,
        4.58454500e+02, 7.16973000e+02, 8.82820000e+01],
       [4.80000000e+01, 0.00000000e+00, 0.00000000e+00, ...,
        9.19550500e-01, 1.26635571e+02, 1.46120000e+01],
       [5.50000000e+01, 1.00000000e+00, 0.00000000e+00, ...,
        6.74680000e+01, 2.69805000e+02, 7.35281222e+02],
       ...,
       [4.00000000e+01, 1.00000000e+00, 0.00000000e+00, ...,
        1.28280180e+02, 3.39009200e+02, 4.21100000e+03],
       [7.40000000e+01, 0.00000000e+00, 0.00000000e+00, ...,
        1.88280000e+01, 1.33222000e+02, 7.35281222e+02],
       [5.30000000e+01, 1.00000000e+00, 7.00000000e+00, ...,
        1.10141990e+02, 4.34544700e+02, 3.89095000e+02]])

In [12]:
 X_test

array([[4.10000000e+01, 1.00000000e+00, 0.00000000e+00, ...,
        2.95480000e+01, 4.68140000e+01, 7.35281222e+02],
       [5.60000000e+01, 0.00000000e+00, 0.00000000e+00, ...,
        9.38110000e+01, 9.35760000e+01, 7.35281222e+02],
       [6.40000000e+01, 1.00000000e+00, 0.00000000e+00, ...,
        2.70223650e+01, 2.37283000e+01, 7.35281222e+02],
       ...,
       [5.50000000e+01, 1.00000000e+00, 0.00000000e+00, ...,
        1.23506500e+01, 5.80779500e+01, 5.95280000e+01],
       [6.40000000e+01, 1.00000000e+00, 7.00000000e+00, ...,
        4.89043475e+02, 2.81921352e+03, 2.01666000e+03],
       [6.80000000e+01, 0.00000000e+00, 0.00000000e+00, ...,
        6.12200000e+00, 1.91850000e+01, 7.35281222e+02]])

In [13]:
y_train

array([2, 1, 1, 1, 2, 3, 3, 2, 3, 3, 1, 2, 3, 2, 3, 3, 1, 1, 1, 2, 2, 1,
       3, 1, 3, 3, 2, 3, 2, 3, 3, 2, 1, 2, 1, 3, 1, 3, 2, 3, 3, 3, 1, 2,
       2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 2, 3, 2, 1, 1, 1, 2, 2, 3, 2, 2,
       1, 2, 1, 2, 3, 2, 2, 2, 2, 3, 2, 2, 1, 1, 2, 2, 3, 1, 1, 1, 1, 2,
       3, 1, 1, 2, 2, 1, 1, 3, 3, 2, 2, 1, 1, 3, 1, 2, 3, 1, 2, 2, 3, 2,
       2, 3, 1, 1, 3, 3, 3, 3, 1, 3, 2, 3, 2, 2, 2, 1, 3, 3, 1, 1, 3, 1,
       1, 2, 3, 3, 2, 1, 3, 3, 3, 3, 2, 1, 1, 1, 3, 3, 2, 2, 2, 1, 1, 2,
       3, 1, 2, 2, 2, 3, 1, 2, 3, 3, 1, 3, 1, 3, 3, 3, 3, 1, 3, 2, 3, 3,
       3, 3, 2, 2, 1, 1, 1, 2, 1, 2, 2, 1, 2, 2, 3, 3, 3, 2, 2, 2, 2, 1,
       2, 1, 3, 1, 3, 3, 3, 2, 3, 2, 1, 3, 3, 1, 3, 3, 1, 2, 1, 3, 3, 3,
       2, 3, 2, 2, 3, 2, 2, 2, 1, 1, 2, 2, 2, 3, 2, 1, 2, 1, 1, 2, 2, 1,
       2, 3, 1, 3, 3, 2, 1, 2, 2, 1, 2, 2, 3, 3, 1, 1, 1, 2, 3, 1, 1, 1,
       3, 1, 1, 3, 2, 1, 3, 3, 1, 2, 2, 2, 3, 2, 2, 3, 2, 3, 3, 3, 3, 1,
       2, 2, 3, 2, 2, 2, 1, 1, 3, 1, 2, 2, 1, 3, 2, 2, 3, 3, 2, 2, 3, 1,
       1, 1, 2, 2, 1, 2, 1, 1, 2, 1, 2, 1, 1, 2, 3, 1, 2, 1, 3, 3, 3, 3,
       1, 2, 3, 1, 1, 2, 1, 1, 3, 2, 3, 2, 2, 2, 2, 2, 2, 2, 1, 3, 1, 2,
       2, 2, 1, 1, 1, 1, 2, 2, 1, 3, 1, 1, 3, 1, 2, 1, 2, 2, 3, 3, 1, 2,
       2, 2, 3, 3, 1, 3, 1, 1, 2, 3, 3, 1, 2, 3, 3, 2, 2, 3, 1, 1, 1, 3,
       3, 1, 1, 3, 1, 1, 3, 3, 2, 3, 3, 1, 2, 1, 2, 2, 3], dtype=int64)

In [14]:
y_test

array([2, 1, 1, 3, 1, 2, 2, 2, 1, 3, 2, 3, 2, 3, 1, 3, 1, 1, 3, 3, 3, 2,
       1, 2, 3, 1, 2, 2, 1, 2, 3, 3, 2, 2, 2, 2, 2, 3, 1, 1, 1, 3, 1, 2,
       3, 1, 2, 2, 1, 1, 2, 2, 1, 3, 3, 2, 2, 3, 2, 2, 1, 2, 1, 3, 3, 3,
       1, 3, 3, 2, 2, 2, 3, 3, 3, 1, 3, 3, 2, 2, 3, 1, 1, 2, 3, 3, 2, 3,
       3, 3, 3, 2, 3, 2, 1, 1, 1, 3, 3, 3, 3, 3, 3, 2, 3, 2, 2, 3, 1, 2,
       1, 2, 1, 1, 2, 2, 2, 2, 1, 3, 3, 2, 3, 3, 3, 3, 3, 1, 3, 2, 1, 3,
       3, 3, 1, 3, 2, 2, 1, 2, 2, 1, 3, 2, 1, 1, 1, 3, 1, 3, 1, 3, 3, 2,
       2, 2, 3, 3, 1, 3, 2, 2, 3, 3, 1, 3, 3, 2, 2, 2, 3, 1, 2, 2, 1, 3,
       1], dtype=int64)

In [15]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [16]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10, random_state=0)

In [17]:
y_pred = classifier.predict(X_test)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[1 2]
 [2 1]
 [1 1]
 [3 3]
 [1 1]
 [2 2]
 [2 2]
 [1 2]
 [1 1]
 [3 3]
 [1 2]
 [3 3]
 [2 2]
 [3 3]
 [1 1]
 [3 3]
 [2 1]
 [1 1]
 [3 3]
 [3 3]
 [3 3]
 [1 2]
 [2 1]
 [2 2]
 [3 3]
 [1 1]
 [2 2]
 [2 2]
 [1 1]
 [1 2]
 [3 3]
 [3 3]
 [2 2]
 [2 2]
 [2 2]
 [2 2]
 [1 2]
 [3 3]
 [2 1]
 [1 1]
 [1 1]
 [3 3]
 [2 1]
 [2 2]
 [3 3]
 [1 1]
 [1 2]
 [2 2]
 [1 1]
 [2 1]
 [1 2]
 [2 2]
 [1 1]
 [3 3]
 [3 3]
 [2 2]
 [2 2]
 [3 3]
 [2 2]
 [2 2]
 [1 1]
 [1 2]
 [1 1]
 [3 3]
 [3 3]
 [3 3]
 [1 1]
 [3 3]
 [3 3]
 [2 2]
 [2 2]
 [1 2]
 [3 3]
 [3 3]
 [3 3]
 [1 1]
 [3 3]
 [3 3]
 [2 2]
 [1 2]
 [3 3]
 [1 1]
 [2 1]
 [1 2]
 [3 3]
 [3 3]
 [1 2]
 [3 3]
 [3 3]
 [3 3]
 [3 3]
 [1 2]
 [3 3]
 [2 2]
 [1 1]
 [1 1]
 [1 1]
 [3 3]
 [3 3]
 [3 3]
 [3 3]
 [3 3]
 [3 3]
 [2 2]
 [3 3]
 [1 2]
 [1 2]
 [3 3]
 [1 1]
 [2 2]
 [1 1]
 [2 2]
 [1 1]
 [2 1]
 [2 2]
 [2 2]
 [1 2]
 [1 2]
 [1 1]
 [3 3]
 [3 3]
 [2 2]
 [3 3]
 [3 3]
 [3 3]
 [3 3]
 [3 3]
 [1 1]
 [3 3]
 [2 2]
 [1 1]
 [3 3]
 [3 3]
 [3 3]
 [1 1]
 [3 3]
 [1 2]
 [1 2]
 [1 1]
 [1 2]
 [1 2]
 [2 1]
 [3 3]
 [2 2]
 [2 1]
 [1 1]
 [1 1]
 [3 3]
 [1 1]
 [3 3]
 [1 1]
 [3 3]
 [3 3]
 [2 2]
 [2 2]
 [1 2]
 [3 3]
 [3 3]
 [1 1]
 [3 3]
 [2 2]
 [1 2]
 [3 3]
 [3 3]
 [2 1]
 [3 3]
 [3 3]
 [1 2]
 [2 2]
 [1 2]
 [3 3]
 [1 1]
 [2 2]
 [1 2]
 [1 1]
 [3 3]
 [1 1]]

In [18]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[36 11  0]
 [27 34  0]
 [ 0  0 69]]

0.7853107344632768

In [19]:
print(classifier.predict(sc.transform([[61,1,0,8,0.70122,0.00280488,60.579,142.95,735.2812222]])))

[1]

In [20]:
print(classifier.predict(sc.transform([[66,1,0,1541,1.30065,1.213442,15.682107,1227.735,67.867]])))

[2]

In [21]:
print(classifier.predict(sc.transform([[71,0,5,492,0.99528,1.806422,190.812,736.673,735.2812222]])))

[3]